<div class= "booyah-box-1 col-xs-12">
  <h1><%= @bow.name %></h1><br />
  <p><%= @bow.description %></p><br />

<% @bow.photos.each do |photo| %>
  <%= image_tag photo.picture, class: "img-responsive" %>
  <%= photo.caption %>
<% end %>
</div>


<div class="clear"></div>
<%= simple_form_for @photo, url: administrator_bow_photos_path(@bow) do |f| %>
  <%= f.input :picture %>
  <%= f.input :caption %>
  <%= f.submit "Add Photo", class: 'btn btn-primary' %>
<% end %>